<div class="header my-5  ">
    <nav class="navbar flex justify-around items-center">
        <h1 class="text-blue-400 text-[28px] font-semibold hover:text-yellow-200">E-COMM</h1>
        <div class="search ">
            <input type="text" class="border border-blue-400 mx-3 outline-none p-1 rounded-sm">
            <button class="search-button text-blue-500 hover:text-yellow-200">
                Search
            </button>
        </div>
        <div class="navigation-menu">
            <ul class="flex" >
                <li class="mx-3  text-blue-600 hover:text-yellow-200"><a href="#">Home</a></li>
                <li class="mx-3  text-blue-600 hover:text-yellow-200"><a href="#">Seller</a></li>
                <li class="mx-3  text-blue-600 hover:text-yellow-200"><a href="#">Cart(0)</a></li>

            </ul>
        </div>
    </nav>
</div>