<div class="seller-auth mt-5 pl-56 pt-10">

    <div *ngIf="!isLogin" class="seller-signup-form w-[50%] m-auto  ">
        <h1 class="my-3 w-[60%] m-auto text-purple-600">Seller Signup</h1>
        <form class="flex flex-col" [formGroup]="sellerSignupForm" (ngSubmit)="signUp()">
            <input formControlName="name" class="my-2 border border-gray-500 m-1 px-2 py-2 outline-none w-[80%]"
                type="text" placeholder="Enter Your Name">
            <input formControlName="email" class="my-2 border border-gray-500 m-1 px-2 py-2 outline-none w-[80%]"
                type="email" placeholder="Enter Your Email">
            <input formControlName="password" class="my-2 border border-gray-500 m-1 px-2 py-2 outline-none w-[80%]"
                type="password" placeholder="Enter Your Password">
            <button class="my-2 border border-gray-500 w-[80%] m-1 py-2 hover:bg-purple-600 "
                type="submit">SignUp</button>
            <p class="mx-2 my-2">Do You Have Already Account ? <span><a class="cursor-pointer text-blue-700"
                        (click)="sellerLogin()">Sign In</a></span></p>
        </form>
    </div>

    <!---------------------------------my-2 Login Area------------------------------------------>
    <div *ngIf="isLogin" class="seller-login-form w-[50%] m-auto  ">
        <h1 class="w-[60%] m-auto text-purple-600 my-2">Seller Login</h1>
        <form class="flex flex-col" [formGroup]="sellerLoginForm" (ngSubmit)="login()">

            <input formControlName="email" class="my-2 border border-gray-500 m-1 px-2 py-2 outline-none w-[80%]"
                type="email" placeholder="Enter Your Email">
            <input formControlName="password" class="my-2 border border-gray-500 m-1 px-2 py-2 outline-none w-[80%]"
                type="password" placeholder="Enter Your Password">
            <button class="border border-gray-500 w-[80%] m-1 py-2 hover:bg-purple-600 " type="submit">Login</button>
            <p class="mx-2 my-2">Do not Have Account ? <span><a class="cursor-pointer text-blue-700"
                        (click)="sellerSignUp()">SignUp</a></span></p>

        </form>
    </div>
    
</div>